.addBack
	background rgb(34,111,187)
header
	position relative
	height 2.35rem
	width 20rem
	background url(../../img/headerbg_v2.png) 9.2rem 0 no-repeat white
	background-size 7.5rem 2.35rem
	.title
		display inline-block
		width 7.44rem
		height 2.35rem
		background url(../../img/1.png) no-repeat
		background-size 7.44rem 2.35rem
.guide
	display inline-block
	position absolute
	right 0
	width 2.6rem
	height 2.35rem
	background url(../../img/2.png) no-repeat
	background-size 2.6rem 2.35rem
.listhead
	width 20rem
	padding 0.3rem 0
	background rgb(73,152,231)
	a
		display inline-block
		width 4rem
		line-height 2rem
		text-align center
		color white
.sports
	margin-top -1px
	background rgb(62,134,206)
	width 20rem
	line-height 2.4rem
	span
		display inline-block
		width 4rem
		line-height 1.8rem
		text-align center
		color white
.imgtop
	display block
	position relative
	background url(../../img/0.jpg) no-repeat
	background-size 20rem 10.5rem
	width 20rem
	height 10.5rem
	.texttop
		padding 0 1rem
		display block
		width 20rem
		position absolute
		bottom 0
		color white
		line-height 2rem
		background linear-gradient(0deg, rgba(0,0,0,0.9) 20%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%)
.pedal
	margin 0.4rem
	width 19.2rem
	height 3.8rem
	border 0.05rem solid rgb(181,202,242)
	transform scaleY(50%)
	.medal
		padding-left 0.5rem
		width 19.2rem
		height 1.6rem
		background url(../../img/3.png) 0rem 0rem no-repeat
		background-size 19.2rem 1.6rem
		line-height 1.6rem
		color rgb(0,127,218)
		font-size 0.75rem
		font-weight bold
	.banner
		margin-top 0.25rem
		overflow hidden
		height 1.6rem
		position relative
		font-size 0.75rem
		line-height 1.6rem
		div
			position absolute
			bottom -1.6rem
			display block
			height 1.6rem
			width 19.8rem
			&.first
				bottom 0
			&.current
				animation bottom 0.5s linear forwards
			&.previous
				animation top 0.5s linear forwards
			span
				text-align center
				height 0.75rem
				line-height 0.75rem
				display inline-block
				vertical-align middle
				i
					display inline-block
					width 0.75rem
					height 0.75rem
					float left
					margin-left 0.5rem
			span:not(:nth-last-of-type(1))
				border-right 0.05rem solid gray
			.ranking
				width 2.2rem
				i
					display inline-block
					width 0.75rem
					height 0.75rem
					border-radius 0.2rem
					text-align center
					font-size 0.6rem
					line-height 0.75rem
					color white
			.special
				i
					background rgb(255,131,39)
			.normal
				i
					background rgb(96,187,70)
			.country
				width 7rem
			.gold
				padding-right 0.5rem
				width 2.5rem
				i
					background url(../../img/g.png)
					background-size 0.75rem 0.75rem
			.silver
				padding-right 0.5rem
				width 2.5rem
				i
					background url(../../img/s.png)
					background-size 0.75rem 0.75rem
			.bronze
				padding-right 0.5rem
				width 2.5rem
				i
					background url(../../img/b.png)
					background-size 0.75rem 0.75rem
			.all
				width 2.5rem
.ad
	margin 0 0.4rem
	padding-left 3rem
	width 19.2rem
	height 2.3rem
	border 0.05rem solid rgb(181,202,242)
	transform scaleY(50%)
	background rgb(237,250,255) url(../../img/4.png) 2.1rem 0rem no-repeat
	background-size 2.5rem 2rem
	color rgb(6,149,215)
	font-size 0.8rem
	font-weight bold
	line-height 2.3rem
	text-align center
.news
	height 5rem
	.img
		float left
		width 4.6rem
		height 3.7rem
		padding 0.1rem
		border 0.05rem solid rgb(211,211,211)
		background rgb(233,241,244)
		img
			display inline-block
			height 3.4rem
	.discuss
		position relative
		i
			position absolute
			bottom 0
			right 0
			display inline-block
			width 6rem
			height 1rem
			background url(../../img/5.png) 50% 50% no-repeat
			text-align right
			&::before
				position absolute
				left 0
				width 1.5rem
				height 1.3rem
				content ""
				background url(../../img/6.png) no-repeat
				background-size 1.5rem
				height 1.3rem
.text
	margin 0 0.4rem
	padding 0.8rem 0
	width 19.2rem
	border-bottom 0.05rem solid rgb(211,211,211)
	h1
		width 14rem
		overflow hidden
		text-overflow ellipsis
		white-space nowrap
		font-size 1rem
		padding-bottom 0.3rem
	p
		font-size .8rem
		line-height 1rem
		color rgb(135,140,146)
.group
	img
		display block
		width 19.2rem
		height 5rem
	p
		margin-top 0.5rem
footer
	overflow hidden
	color rgb(149,160,172)		
	.listbottom
		width 20rem
		padding 0.3rem 0
		background rgb(73,83,93)
		a
			display inline-block
			width 4rem
			line-height 2rem
			text-align center
	.bottom
		font-size 12px
		width 20rem
		padding 0.5rem
		background rgb(64,74,84)
		line-height 1.5rem
		.right
			white-space nowrap
@keyframes bottom
	from
		bottom -1.6rem
	to
		bottom 0rem
@keyframes top
	from
		bottom 0rem
	to
		bottom 1.6rem

	




























